body {
	font-family: 'Bebas Neue', sans-serif;
	color: floralwhite;
}

#landing {
	background-image: url(images/box-bg.png);
	background-size: 20%;
	font-family: 'Bebas Neue', sans-serif;
	color: floralwhite;
}

#navbartop {
	font-family: 'Bebas Neue', sans-serif;
}

#projects {
	font-family: 'Bebas Neue', sans-serif;
	color: floralwhite;
}

#contact-section {
	background-image: url(images/box-bg.png);
	background-size: 20%;
	font-family: 'Bebas Neue', sans-serif;
}
#tools {
	font-family: 'Bebas Neue', sans-serif;
}

#services {
	font-family: 'Bebas Neue', sans-serif;
}